.grelha-equipa{
    display: grid;
    margin: 20px 0;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 10px;
    place-items: center;
}

.grelha-equipa a{
    position: relative;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grelha-equipa a:hover{
    cursor: pointer;
}

.grelha-equipa a p, .grelha-equipa a h3{
    margin: 0;
}

.grelha-equipa a p{
    font-size: 15px;
}

.grelha-equipa img{
    border-radius: 5px;
}

.grelha-equipa a .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    top: 50%;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 0;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.5s;
}

.grelha-equipa a .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
.grelha-equipa a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.grelha-equipa a .tooltiptext:hover {
    text-decoration: underline;
}