.descrição{
    text-align: center;
    width: 80%;
}

.divisao{
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.channels{
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin: 20px 0;
}

.linha a{
    margin: 5px 5px;
    position: relative;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    max-height: 200px;
    border-radius: 5px;
    animation: slideDown 0.5s;
}

@keyframes slideDown{
    0%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(0);
    }
}

.linha a:hover{
    cursor: pointer;
    animation: slideUp 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slideUp{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-5%);
    }
}

.linha a img{
    max-width: 150px;
}

.equipa{
    grid-template-columns: 300px 300px 300px 300px;
}

.equipa a{
    position: relative;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.equipa a:hover{
    cursor: pointer;
}

.equipa a p, .grelha-equipa a h3{
    margin: 0;
}

.equipa a p{
    font-size: 15px;
}

.equipa img{
    border-radius: 5px;
}

.equipa a .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    top: 55%;
    width: 120px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 0;
    
    opacity: 0;
    transition: opacity 0.5s;
}

.equipa a .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
  
.equipa a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.social-media{
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}